@import '../var.less';

.home {
  .flex(column);
  justify-content: space-around;
  margin-left: 1vh;
  height: 99%;
}

.intro {
  height: 15%;
  font-size: 4.5vw;
  margin: 0 0 4% 0;
  font-style: bold;
}

.special-words {
  font-style: italic;
  font-weight: 900;
  color: @special;
}

.brand-statement {
  // font-style: italic;
  font-size: 2.5vw;
  .flex(column);
  justify-content: space-between;
  height: 80%;
}

.part1 {
  align-self: flex-start;
}

.part2 {
  align-self: flex-end;
}

.part3 {
  align-self: center;
}
