@import '../var.less';

.home {
  .flex(column);
  align-items: center;
  justify-content: space-around;
  height: 90%;
  margin: auto 0;
}

.special-words {
  font-style: italic;
  font-weight: 900;
  color: @special; // rgba(255, 0, 196, 1)
}

.intro {
  font-size: 6vw;
  font-style: bold;
  margin: 0 auto 0 5px;
  font-style: italic;
}

.brand-statement {
  font-size: 35px;
  .flex(column);
  justify-content: space-between;
  height: 70%;
}

.part1 {
  display: block;
  text-align: left;
  margin: 0 auto 5px 0;
}

.part2 {
    display: block;
    text-align: center;
    margin: 0 auto 5px auto;
}

.part3 {
  display: block;
  text-align: right;
}

@media (max-width: 1020px) {
  .brand-statement {
    font-size: 30px;
  }
}

@media (max-width: 720px) {
  .brand-statement {
    font-size: 20px;
  }
}
