<div class="outerContainer">
  <div class="innerContainer projects">
    <div class="">
      <h2>Projects</h2>
      <h3>Click below to learn more about the projects I have worked on</h3>
    </div>
    <div class="project" ng-repeat="project in vm.projects">
      <h3 class="project-name"><a href="{{project.repo}}" target="_blank">{{project.name}}</a></h3>
      <div class="project-skills">
        <div class="project-skill" ng-repeat="skill in project.technologies">
          <i ng-if="skill.class" ng-class="skill.class"></i>
          <span ng-if="!skill.class">{{skill.technology}}</span>
        </div>
      </div>
      <p class="project-desc">{{project.description}}</p>
    </div>
      </div>
</div>

<links></links>
