@import '../var.less';

.projects {
  margin-right: 3vw;
  height: 100%;
}

.projectsContainer {
  background-color: @black;
  .flex(row);
  justify-content: center;
  flex-wrap: wrap;
}

.projectsContainer a {
  color: @special;
  text-decoration: none;
}

.project {
  width: 400px;
  height: 200px;
  text-align: center;
}

.project * {
  margin: 10px 0;
}

.projectsContainer div {
  margin-bottom: 5px;
}

.projects .skillsContainer {
  font-size: 1em;
}
