@import './var.less';

html, body, header, main, footer, div, ul, li, a, p,
h1, h2, h3, h4, h5, h6, span, img {
  margin: 0;
  padding: 0;
}

body {
  font-family: @font-family;
  color: @white;
  .flex(column);
  align-items: center;
  height: 100vh;
  padding: 2% 2% 0 2%;
}

.background {
  background: @bg-gradient, @image-url;
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
}

.wrapper {
  flex: 1;
  width: 100%;
  .flex-props(row, center, flex-start);
}

.outerContainer {
  width: 90%;
  height: 93vh;
}

.outerContainer a {
  color: @special;
  text-decoration: none;
}

.innerContainer {
  min-width: 93%;
  max-width: 93%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  height: 100%;
  background-color: @container-bg;
}

header {
  text-align: center;
  margin-bottom: 2%;
  align-self: flex-end;
  width: 60vw;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  align-self: flex-end;
  width: 50%;
  text-align: right;
  font-size: 1.2vw;
}

h2, h3 {
  text-align: center;
  margin: 3%;
}

ul { list-style-type: none; }

/** Testing */

// .wrapper {
//   border: 1px green solid;
// }

// footer {
//   border: 1px solid yellow;
// }
//
// header {
//   border: 1px white solid;
// }
