@import './var.less';

html, body, header, main, footer, div, ul, li, a, p, h1, h2, h3, h4, h5, h6, span {
  margin: 0;
  padding: 0;
}

body {
  font-family: @font-family;
  color: @white;
  .flex(column);
  height: 100vh;
}

.background {
  background: @bg-gradient, @image-url;
  background-size: 100% 100%;
  // background-repeat: no-repeat;
}

main {
  border: 2px red solid;
  max-height: 75vh;
  height: 75vh;
  padding: 6vw;
  // flex: 1;
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  bottom: 1%;
  right: 1%;
  color: @white;
}


.copyright {
  margin-left: auto;
  align-self: flex-end;
  text-align: right;
  font-size: 1vw;
}

ul { list-style-type: none; }
