@import './var.less';

html, body, header, main, footer, div, ul, li, a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  .theme(@white, @rose);
  .flex(column);
  height: 100vh;
}

main {
  color: @white;
  height: 100%;
  padding: 10px;
  flex: 1;
  min-height: 90vh;
}

.background {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(217,78,103,0.5);
      rgba(217,78,103,0.5);
    ),
    /* bottom, image */
    url('https://i.imgur.com/euHPUfi.jpg');
    background-size: cover;
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  color: @white;
}


.copyright {
  align-self: flex-end;
  font-size: 1vw;
}

ul {
  list-style-type: none;
}

/***** Links ********/

a {
  color: @rose;
  font-style: bold;
  text-decoration: none;
}

a:focus, a:hover {
  background-color: @brown;
}

.icon-bar {
  background: @rose;
}

a:hover {
  color: @pink;
}
