/* Variables */
@fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/less/font-awesome";

@import "~devicon-2.2/devicon.css";
@import "~devicon-2.2/devicon-colors.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

// colors
@skyblue: rgb(162,229,255);//rgb(132,206,235); //#84CEEB;
@container-bg: rgba(82,56,56,0.5);
@white: rgba(255,255,255,1);
@special: @skyblue;
@pink: rgba(217,78,103,0.5); // #D94E67; // pink
// other
@bg-gradient: linear-gradient(@pink; @pink);
@image-url: url('https://i.imgur.com/euHPUfi.jpg');
@font-family: 'Raleway', sans-serif;

.theme(@bg, @font) {
  background-color: @bg;
  color: @font;
}

.flex (@dir) {
  display: flex;
  flex-direction: @dir;
}

.flex-props (@dir, @justify, @align) {
  display: flex;
  flex-direction: @dir;
  justify-content: @justify;
  align-items: @align;
}
