@import '../var.less';

header {
  background-color: @white;
  position: fixed;
  left: 2%;
  bottom: 2%;
  width: 35%;
  height: 7vh;
}

nav {
  height: 100%;
}


nav ul {
  .flex(row);
  height: 100%;
}

nav ul li {
  .flex(row);
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.nav-links a {
  display: block;
  text-align: center;
  color: @special;
  font-weight: 900;
  font-size: 2.5vw;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: @special;
  color: @white;
}
