@import '../var.less';

header {
  text-align: center;
  // border-bottom: 1px solid @pink;
  padding: 5px 10px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

.logo {
  margin: auto auto auto 0px;
  height: 58px;
  font-size: 30px;
}

.nav-links {
  margin: 0;
  padding: 0 10px;
  align-self: center;
}

.nav-links a:hover {
  background-color: gray;
}
