html {
  min-width: 360px;
  line-height: 1.5;
  /* font-family:  */
}

::selection {
  background-color: #54b3d6;
  color: white;
}

body,
footer {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

body {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 42rem;
  margin-top: 2rem;
  margin-bottom: 10rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1024px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .body {
    flex-direction: row;
  }
}

nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
}

.link-wrapper {
  padding-right: 2.5rem;
  display: flex;
  flex-direction: row;
}

.link-wrapper a {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin-left: -8px;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 400px) {
  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.project-card {
  border: 1px solid #eaeaea;
  padding: 0.75rem 1.25rem;
}

.project-card:hover {
  border-radius: 8px;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0.2);
}

.project-links {
  display: flex;
  justify-content: flex-start;
}

.project-links a {
  margin-right: 1rem;
}

.social-link {
  margin-right: 1rem;
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.social-link:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.social-link:hover {
  background-position: 0;
}

.social-link:hover::before {
  width: 100%;
}
