@import '../var.less';

.skillsContainer {
  margin-top: 3%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.skillsContainer i {
  font-size: 6em;
}

.skillsContainer div {
  margin: 1% 1%;
}

@media (min-width: 900px) {

}
