@import '../var.less';

.skillsContainer {
  margin-top: 3%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.skillsContainer i {
  font-size: 6em;
}

.skill {
  margin: 1% 1%;
}

.haskell {
  background: url('https://d1q6f0aelx0por.cloudfront.net/product-logos/8dd9679a-9dbc-42a3-b5da-4ff5ad97bc63-haskell.png');
  width: 10vw;
  height: 20vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.prolog {
  background: url('http://www.swi-prolog.org/icons/swipl.png');
  width: 10.5vw;
  height: 20vh;
  background-size: contain;
  background-repeat: no-repeat;
}
