footer {
  padding: 5px;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

footer li {
  margin-left: auto;
  margin-right: 1px;
}

footer li a {
  margin: 0 10px;
}

.copyright {
  margin-left: auto;
}
