@import '../var.less';

links {
  background-color: @container-bg;
  height: auto;
  width: auto;
  font-size: 1.6em;
  margin-left: auto;
  margin-right: auto;
}

links ul {
  height: 100%;
  .flex-props(column, space-between, center);
}

links ul a {
  text-decoration: none
}

.GA {
  margin: 5% 0 0 0;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
}

.links li i { color: @special; }

@media (min-width: 720px) {
  links {
    font-size: 2.5em;
  }
}
