@import '../var.less';

links {
  background-color: @black;
  height: 30%;
  width: 6vh;
  font-size: 1.6em;
  // margin-right: auto;
  // margin-left: auto;
}

links ul {
  height: 100%;
  .flex-props(column, space-between, center);
}

.links li i { color: @special; }

@media (min-width: 720px) {
  .links li i  {
    // font-size: 3em;
  }
}
