@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$base-color: #1f0318;
$links-text: #10ffcb;
$link-hover: #d282a6;
$text-color: #f5e3e0;
$other-2: #e8b4bc;

.App {
  text-align: center;
  background-color: $base-color;
  font-family: 'Raleway', sans-serif;
  /* font-size: calc(10px + 2vmin); */
  color: $text-color;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    padding-top: 15vh;
    flex: 0 0 auto;
  }
  
  footer {
    flex: 0 0 auto;
  }
  
  .body-container {
    margin: 10vh;
    flex: 1 1 auto;
    overflow-y: auto;
  }
  
}

a {
  color: $links-text;
  text-decoration: none;
}

a:hover {
  color: $link-hover;
}

.links-wrapper {
  list-style: none;
}


// Scrollbar

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $text-color $base-color;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $base-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $text-color;
  border-radius: 20px;
  border: 3px solid $base-color;
}